doctype html
head
    // Copyright Ian Anderson Web Development 3/25/2016
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    title Frontend Developer Ian Anderson
    
    link(href='styles.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(link='' href='https://fonts.googleapis.com/css?family=Noto+Sans+JP' rel='stylesheet' type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    
    
    link(rel='icon' type='image/png' href='images/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='images/favicon-32x32.png' sizes='32x32')
    
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='js/moment.js')
    script(src='js/typed.js')
    

//- .loaderWrapper
//-     #loading
//-         p.loadText 
//-         p.loadStatus 
body(onload="init()")
.paint_wall
.wrapper 
    #topNav
        ul.left
            li.miniLogo IA
            li.bold ianOS
            li File
                #fileMenu
            li Edit
            li View
            li.help Help
        ul.right
            li.glyphicon.glyphicon-signal
            li 100%
            li#time
            li Guest Client
    .desktop_icon
        #iconOverview.icon
            img(src='images/folder.png')
            p Overview
        #iconAbout.icon
            img(src='images/folder.png')
            p About
        #iconPaint.icon
            img(src='images/folder.png')
            p Paint
        #iconPortfolio.icon
            img(src='images/folderFill.png')
            p Portfolio
        #iconTestimonials.icon
            img(src='images/folder.png')
            p Reviews
        //#iconWelcome.icon
        //img(src='images/folder.png')
        //p Welcome
    
        .window.windowPaint
            .windowBar
                ul.button
                    li.glyphicon.glyphicon-remove-sign#paintClose
                    li.glyphicon.glyphicon-minus-sign#paintMin
                ul.tab
                    li PAINT
                
                ul#dropdownArea
                    #dropdown
                        #windowPaintMenu.showMenu
                            #paintMenu
                                .paintMenuTitle BRUSH COLOR
                                input(id="hex" placeholder="#hex or rgba(0,0,0,0)" value="#303030" )
                                
                                #space
                                .paintBtn
                                    button#blackBtn
                                    button#whiteBtn 
                                    button#redBtn
                                    button#orangeBtn 
                                    button#yellowBtn
                                    button#blueBtn
                                    button#greenBtn
                                    button#purpBtn
                                .paintMenuTitle BRUSH SIZE
                                
                                input(id="brushSlider" type="range" min="5" max="100" value="50" class="slider")
                                #menuButtonGroup    
                                    button#clear Clear  
                                    button#reset Reset
                                    
                                    button#save Set as Background
                                    button#remove.showRemove Remove 
                                
            #paintCanvas
                canvas(id="canvasDiv" width="550" height="550")        
        //
            .window
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign#paintMenuClose
                        li.glyphicon.glyphicon-minus-sign#paintMenuMin
                    ul.tab
                        li MENU
                
    
            
        

    
        
    .window.windowOverview
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.overviewClose
                li.glyphicon.glyphicon-minus-sign.overviewMin
            ul.tab
                li OVERVIEW    
        .windowIcon
            img(src='images/headShot.jpg')
        span.about
            h1 Ian Anderson
            h6 Version 1.0
            h4 Frontend Web Developer/Designer
            p
                | Degree 
                span  Business Management B.S.
            p
                | Experience
                span 4 Years
            p
                | Languages
                span HTML/Pug, CSS/Sass, JavaScript/jQuery, React, Ruby
            p
                | Tools
                span Git, Photoshop, Atom/Brackets, Emmet, WordPress
            p
                | Environments
                span Windows, Mac, Linux
    .window.windowAbout
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.aboutClose
                li.glyphicon.glyphicon-minus-sign.aboutMin
            ul.tab
                li ABOUT
        .windowIcon
        span.about
            p
                strong I am a frontend web developer based in Kentucky.
            p
                | Named after Jethro Tull&apos;s frontman. I spend a majority of my time glued to a screen designing and developing websites, learning new languages and skills, or planning my next big adventure.
    .window.windowTestimonial
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.testClose
                li.glyphicon.glyphicon-minus-sign.testMin
            ul.tab
                li TESTIMONIALS
        .windowIcon
        span.test
            .talk-bubble.tri-right.round.btm-left
                p
                    | "Ian accepted a 33% deposit and began working right away. I'm a tough guy to work with, almost always unsatisfied with css responsiveness work, but he dealt with my constant nagging really well. Highly recommend this guy. Thank you!"
            .name
                img.testIcon(src="images/testIcon.png")
                span Name here
            .talk-bubble.tri-right.round.btm-left
                p
                    | "I hired Ian to design my website for a hobby game that I play, it started as a basic few hour project and that was the budget we agreed upon. However he went above and beyond working very diligently to make the website everything I ever wanted it to be. I would highly, highly recommend his services if you ever find yourself in need of a great web designer. His customer service and professionalism are above anything I could have asked for."
            .name
                img.testIcon(src="images/testIcon.png")
                span Name here
            
            
    .window.windowSettings
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.settingsClose
                li.glyphicon.glyphicon-minus-sign.settingsMin
            ul.tab
                li SETTINGS  
        .setting
            
                .settingsButton  Set Background
                ul.backgroundChange
                
                    li
                        button.background2 Sherbet
                    li
                        button.background3 Oceanic
                    li
                        button.background4 Silver
                    li
                        button.background5 Night Light
                .visibilityButton  Visibility 
                ul.visibilityChange
                    li
                        button.transOn Transparency On
                    li
                        button.transOff Transparency Off
    .window.windowEmail
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.emailClose
                li.glyphicon.glyphicon-minus-sign.emailMin
            ul.tab
                li EMAIL to: ian@theiananderson.com
        form(action='//formspree.io/ianderso222@gmail.com' method='POST')
            input(type='text' name='name' placeholder='Name')
            input(type='email' name='_replyto' placeholder='Email')
            input(type='text' name='_gotcha' style='display:none')
            textarea(type='text' name='message' placeholder="Let's work on something...")
            input(type='submit' value='Send')
            input(type='hidden' name='_next' value='//theiananderson.com/submit.html')
    //.window.windowWelcome
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.welcomeClose
                li.glyphicon.glyphicon-minus-sign.welcomeMin
            ul.tab
                li WELCOME  
        span.welcomeText
            h4
                | Hey there! My name is Ian Anderson. I am a Frontend Web Developer. Welcome to my site!

            h5 Odds are I would love to work with you, so go ahead, drop me a line.
            h5
                | - Click on the folders to the right to read some more about me or view some of my work.
            h5
                | - Click on the icons at the bottom to view some of my social pages, change the settings of this page, or send me an email.
    .window.windowPortfolio
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.portfolioClose
                li.glyphicon.glyphicon-minus-sign.portfolioMin
            ul.tab
                li PORTFOLIO    
        .portfolioGrid
            #itemC3.item
                img(src='images/c3back.jpg')
                p c3 Backflow
            #itemWeather.item
                img(src='images/weather.jpg')
                p Weather App 
            #itemHeir.item
                img(src='images/HeirAtelier_crop.jpg')
                p Heir Atelier
            #itemForest.item
                img(src='images/forest_case.jpg')
                p HTML Template
            #itemKynews.item
                img(src='images/mykynews.jpg')
                p myKYnews   
            #itemTaco.item
                img(src='images/taco_case1.jpg')
                p Mexican Restaurant
            #itemWholeCar.item
                img(src='images/thewholecar.jpg')
                p The Whole Car
            
    .window.windowGallery
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.galleryClose
                li.glyphicon.glyphicon-minus-sign.galleryMin
            ul.tab
                li PORTFOLIO GALLERY 
        .galleryWrapper
            #heir.galleryItem
                .galleryImage
                    img(src='images/HeirAtelier_crop.jpg')
                .galleryText
                    p
                        | I drew a lot of inspiration from various operating systems to complete my personal site. Designed to resemble and in some ways function like many modern computer desktop environments the goal is to stand out from the monotonous style of most developer&apos;s personal web pages.
            #forest.galleryItem
                .galleryImage
                    img(src='images/forest_case.jpg')
                .galleryText
                    p
                        | A simple template that could be used for a number of website styles, ranging from restaurants to a travel blog. I used a few scroll reveal elements to give the page some life and fixed backgrounds to add depth. Keep in mind this is still very much a work in progress but it&apos;s a good glimpse into my work flow.
                    a(href='/forest/home.html' target='_blank')
                        p View Site
            #c3.galleryItem
                .galleryImage
                    img(src='images/c3back.jpg')
                .galleryText
                    p
                        | While working with C3 Backflow, now Syncta, a company that specializes producing mobile solutions and software for water purveyors and backflow testers, I oversaw and completely redesigned their mobile UI/UX, their user onboarding process, and customer routing platforms.  
                    button
                        a(href='' target='_blank')
                            p  View Site 
            #taco.galleryItem
                .galleryImage
                    img(src='images/taco_case1.jpg')
                .galleryText
                    p
                        | I completed the &quot;Taco Lobo&quot; site in about a day. I designed it in the middle of redoing my personal webpage just as a quick refresher after staring and tweaking the same site multiple times over. I wanted this website to reflect everything I desired to see when visiting a restaurant&apos;s website. I want to see is a menu on the webpage, not a downloadable pdf that opens a new window taking me away from their website.
                    a(href='/demo/home.html' target='_blank')
                        p View Site 
            #news.galleryItem
                .galleryImage
                    img(src='images/mykynews.jpg')
                .galleryText
                    p
                        | While it is not a live site yet, I use this site from time to time as a way to random generate design prompts for practice. I plan to develop this further adding multiple variables and custom settings.
                    //
                        a(href="")//p View Site
            #weather.galleryItem
                .galleryImage
                    img(src='images/weather.jpg')
                .galleryText
                    p Weather app website featuring flat material UI and animated weather effects.  
                    a(href='/weather/home.html' target='_blank')
                        p View Site    
            #wholeCar.galleryItem
                .galleryImage
                    img(src='images/thewholecar.jpg')
                .galleryText
                    p Weather app website featuring flat material UI and animated weather effects.  
                    a(href='/weather/home.html' target='_blank')
                        p View Site    
    
    #dock
        #sort
            a(href='https://twitter.com/ian_a_anderson' target='_blank')
                img#dockTwitter(src='images/twitter.png')
            a(href='https://www.reddit.com/user/ianaanderson/' target='_blank')
                img#dockReddit(src='images/reddit.png')
            a(href='https://github.com/ianderso222' target='_blank')
                img#dockGithub(src='images/github.png')
            a(href='https://www.instagram.com/ianandrewanderson/' target='_blank')
                img#dockInsta(src='images/insta.png')
            img#dockEmail(src='images/email.png')
            img#dockSettings(src='images/Settings.png')
            img.minFolderOverview(src="images/folder.png")


script(src='js/javascript.js')
script(src='js/paint_2.js')
//script(src='js/paint_ian.js')
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-69781668-1', 'auto');
    ga('send', 'pageview');
