doctype html
head
    // Copyright Ian Anderson Web Development 3/25/2016
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='styles.css' rel='stylesheet')
    title Frontend Developer Ian Anderson
    link(rel='icon' type='image/png' href='images/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='images/favicon-32x32.png' sizes='32x32')
    link(link='' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='js/moment.js')
    script(src='js/typed.js')

.loaderWrapper
    #loading
        p.loadText
        p.loadStatus
.wrapper 
    #topNav
        ul.left
            li.miniLogo IA
            li.bold ianOS
            li File
            li Edit
            li View
            li.help Help
        ul.right
            li.glyphicon.glyphicon-signal
            li 100%
            li#time
            li Ian Anderson
    .desktop_icon
        #iconOverview.icon
            img(src='images/folder.png')
            p Overview
        #iconAbout.icon
            img(src='images/folder.png')
            p About
        #iconPaint.icon
            img(src='images/folder.png')
            p Paint
        #iconPortfolio.icon
            img(src='images/folderFill.png')
            p Portfolio
        //#iconWelcome.icon
        //img(src='images/folder.png')
        //p Welcome
    .window.windowPaint
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign#paintClose
                li.glyphicon.glyphicon-minus-sign#paintMin
            ul.tab
                li PAINT    
        #paintCanvas
            canvas(id="canvasDiv" width="550" height="300")
          
    .window#windowPaintMenu
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign#paintClose
                li.glyphicon.glyphicon-minus-sign#paintMin
            ul.tab
                li MENU
        #paintMenu
            #space
            .paintMenuTitle COLOR
            input(id="hex" placeholder="#303030" value="#303030")
            .paintBtn
                button#blackBtn
                button#whiteBtn 
                button#redBtn
                button#orangeBtn 
                button#yellowBtn
                button#blueBtn
                button#greenBtn
            .paintMenuTitle BRUSH SIZE
            input(id="brushSlider" type="range" min="1" max="100" value="50" class="slider")
            button#clear CLEAR  
            button#reset RESET
        
    .window.windowOverview
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.overviewClose
                li.glyphicon.glyphicon-minus-sign.overviewMin
            ul.tab
                li OVERVIEW    
        .windowIcon
            img(src='images/headShot.jpg')
        span.about
            h1 Ian Anderson
            h6 Version 4.0
            h4 Frontend Web Developer/Designer
            p
                | Degree 
                span  Business Management B.S.
            p
                | Experience
                span 4 Years
            p
                | Languages
                span HTML/Pug, CSS/Sass, JavaScript/jQuery, React, Ruby
            p
                | Tools
                span Git, Photoshop, Atom/Brackets, Emmet, WordPress
            p
                | Environments
                span Windows, Mac, Linux
    .window.windowAbout
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.aboutClose
                li.glyphicon.glyphicon-minus-sign.aboutMin
            ul.tab
                li ABOUT
        .windowIcon
        span.about
            p
                strong I am a frontend web developer based in the Bowling Green, Kentucky area.
            p
                | Named after Jethro Tull&apos;s frontman. I spend a majority of my time glued to a screen designing and developing websites, learning new languages and skills, or planning my next big adventure.
            p
                | My next meal likely consists of pasta or tacos. When I&apos;m not being a developer I hike, play tennis, or travel.
    .window.windowSettings
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.settingsClose
                li.glyphicon.glyphicon-minus-sign.settingsMin
            ul.tab
                li SETTINGS  
        span.setting
            .left
                .settingsButton  Set Wallpaper
                .visibilityButton  Visibility 
            .right
                ul.backgroundChange
                    // li: button.background1 Mountains
                    li
                        button.background2 Sherbet
                    li
                        button.background3 Oceanic
                    li
                        button.background4 Silver
                    li
                        button.background5 Night Light
                ul.visibilityChange
                    li
                        button.transOn Transparency On
                    li
                        button.transOff Transparency Off
    .window.windowEmail
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.emailClose
                li.glyphicon.glyphicon-minus-sign.emailMin
            ul.tab
                li EMAIL to: ian@theiananderson.com
        form(action='//formspree.io/ianderso222@gmail.com' method='POST')
            input(type='text' name='name' placeholder='Name')
            input(type='email' name='_replyto' placeholder='Email')
            input(type='text' name='_gotcha' style='display:none')
            textarea(type='text' name='message' placeholder="Let's work on something...")
            input(type='submit' value='SEND')
            input(type='hidden' name='_next' value='//theiananderson.com/submit.html')
    //.window.windowWelcome
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.welcomeClose
                li.glyphicon.glyphicon-minus-sign.welcomeMin
            ul.tab
                li WELCOME  
        span.welcomeText
            h4
                | Hey there! My name is Ian Anderson. I am a Frontend Web Developer. Welcome to my site!

            h5 Odds are I would love to work with you, so go ahead, drop me a line.
            h5
                | - Click on the folders to the right to read some more about me or view some of my work.
            h5
                | - Click on the icons at the bottom to view some of my social pages, change the settings of this page, or send me an email.
    .window.windowPortfolio
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.portfolioClose
                li.glyphicon.glyphicon-minus-sign.portfolioMin
            ul.tab
                li PORTFOLIO    
        .portfolioGrid
            #itemPersonal.item
                img(src='images/personal.jpg')
                p Personal Webpage  
            #itemWeather.item
                img(src='images/weather.jpg')
                p Weather App 
            #itemCate.item
                img(src='images/cate_case1.jpg')
                p MaryCateBrown.com
            #itemForest.item
                img(src='images/forest_case.jpg')
                p HTML Template
            #itemTaco.item
                img(src='images/taco_case1.jpg')
                p Restaurant Mockup
            #itemPrompt.item
                img(src='images/case_prompt.jpg')
                p Design Prompt Generator
    .window.windowGallery
        .windowBar
            ul.button
                li.glyphicon.glyphicon-remove-sign.galleryClose
                li.glyphicon.glyphicon-minus-sign.galleryMin
            ul.tab
                li PORTFOLIO GALLERY 
        .galleryWrapper
            #personal.galleryItem
                .galleryImage
                    img(src='images/personal.jpg')
                .galleryText
                    p
                        | I drew a lot of inspiration from various operating systems to complete my personal site. Designed to resemble and in some ways function like many modern computer desktop environments the goal is to stand out from the monotonous style of most developer&apos;s personal web pages.
            #forest.galleryItem
                .galleryImage
                    img(src='images/forest_case.jpg')
                .galleryText
                    p
                        | A simple template that could be used for a number of website styles, ranging from restaurants to a travel blog. I used a few scroll reveal elements to give the page some life and fixed backgrounds to add depth. Keep in mind this is still very much a work in progress but it&apos;s a good glimpse into my work flow.
                    a(href='/forest/home.html' target='_blank')
                        p View Site
            #cate.galleryItem
                .galleryImage
                    img(src='images/cate_case2.jpg')
                .galleryText
                    p
                        | The goal of this website was simple: to act as a showcase for work in a graphic design portfolio. With this website the client has done freelance design work for individuals and businesses all over the world and has recently secured a position as a graphic designer for a professional sports team.
                    a(href='http://www.marycatebrown.com' target='_blank')
                        p  View Site 
            #taco.galleryItem
                .galleryImage
                    img(src='images/taco_case1.jpg')
                .galleryText
                    p
                        | I completed the &quot;Taco Lobo&quot; site in about a day. I designed it in the middle of redoing my personal webpage just as a quick refresher after staring and tweaking the same site multiple times over. I wanted this website to reflect everything I desired to see when visiting a restaurant&apos;s website. I want to see is a menu on the webpage, not a downloadable pdf that opens a new window taking me away from their website.
                    a(href='/demo/home.html' target='_blank')
                        p View Site 
            #prompts.galleryItem
                .galleryImage
                    img(src='images/case_prompt.jpg')
                .galleryText
                    p
                        | While it is not a live site yet, I use this site from time to time as a way to random generate design prompts for practice. I plan to develop this further adding multiple variables and custom settings.
                    //
                        a(href="")//p View Site
            #weather.galleryItem
                .galleryImage
                    img(src='images/weather.jpg')
                .galleryText
                    p Weather app website featuring flat material UI and animated weather effects.  
                    a(href='/weather/home.html' target='_blank')
                        p View Site    
    #dock
        #sort
            a(href='https://twitter.com/ian_a_anderson' target='_blank')
                img#dockTwitter(src='images/twitter.png')
            a(href='https://www.reddit.com/user/ianaanderson/' target='_blank')
                img#dockReddit(src='images/reddit.png')
            a(href='https://github.com/ianderso222' target='_blank')
                img#dockGithub(src='images/github.png')
            a(href='https://www.instagram.com/ianandrewanderson/' target='_blank')
                img#dockInsta(src='images/insta.png')
            img#dockEmail(src='images/email.png')
            img#dockSettings(src='images/Settings.png')
script.
    //moment.js
    var datetime = null,
    date = null;
    var update = function () {
    date = moment(new Date())
    datetime.html(date.format('dddd h:mm A'));
    };
    $(document).ready(function(){
    datetime = $('#time')
    update();
    setInterval(update, 1000);
    });

script(src='js/javascript.js')
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-69781668-1', 'auto');
    ga('send', 'pageview');
